# Node
node_modules/
dist/
*.tsbuildinfo
apps/demo/dev-dist

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# AI
.pi-lens

# ESLint
.eslintcache

# Prettier
.prettiercache
apps/docs/.vitepress/cache/
apps/docs/.vitepress/dist/
